<h3>{{i18n "bbcode.title"}}</h3>
<p>{{i18n "bbcode.resetDesc"}}</p>

<div class="buttons">
  {{#if resetEnabled}}
    <DButton
      @label="bbcode.reset"
      @action={{action "resetServerJSContext"}}
      @icon="sync"
      @id="reset-bbcode"
    />
    {{#if success}}
      <span style="color: var(--success-medium)">{{i18n
          "bbcode.success"
        }}</span>
    {{/if}}
    {{#if error}}
      <span style="color: var(--danger-medium)">{{i18n "bbcode.error"}}</span>
    {{/if}}
  {{else}}
    <div class="spinner small"></div>
    {{i18n "bbcode.reseting"}}
  {{/if}}
</div>